/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/******Formatação geral******/

* {  
     margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body,html { 
    margin: 0;
    height: 100%;
   /* border: whitesmoke solid 1px;*/


}                                

body {
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: right top;
    /*border: solid 3px black;*/


}
/******Formatação Paralax********/

.caixa1, .caixa2, .caixa3, .caixa4 {
    position: relative;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right top;
    background-attachment: fixed;
    padding: 1px 8%; 

}

.caixa1 {
    background-image: url('imagens/perfil.jpg')  ;
}

.caixa2 {
    background-image: url('imagens/perfil2.jpg');
}

/******Formatação dos links gerais******/

a{
    text-decoration: none;}
a:link, a:visited {
     color: blue }
a:hover {
     color: #c5c5b2;background: blue; }
a:active { 
    color: black;background: white; }

/******Formatação do Cabeçalho******/

header{
    position: relative;
    max-width: 800px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    height: 119px;
    border: black solid 2px;
    background: white fixed;
    top: 3px;
}

.principal {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;

}
nav {
    
    width: 100%;
    padding: 15px 0 16px 0;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    
}
nav a{
    background: whitesmoke;
    padding: 5px 25px;
    font-size: 18px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2em;
    
    }
nav a:hover { 
    color: whitesmoke;background: blue;}

.selecionado { 
    border: solid 1px blue}/*** Link selecionado do menu do cabeçalho***/

/******Formatação do Conteúdo da página Currículo******/

article {
    margin-top: 2em;
    max-width: 800px;
    text-align: center;
    font-family: Helvetica;
    color: black;
    padding-top: 1em;
}

fieldset {
    background: whitesmoke;
    margin: 0% 4% 3% 4%;
    padding: 20px 3% 30px 3%;
    width: 92%;
    border: solid blue 1px;
}

legend {
    background: -webkit-gradient(linear,left top, left bottom,from(white),to(whitesmoke));
    background: -o-linear-gradient(white,whitesmoke);
    background: linear-gradient(white,whitesmoke);
    border-radius: 1em;
    padding: 3px;
    padding-bottom: 0px;
    color: blue;
}

/******Formatação do Rodapé da página Currículo******/

footer {

    max-width: 800px;
    top: 48%;
    right: 8%;
    left: 8%;
    background: whitesmoke fixed;
    border: double 4px blue;
    margin-bottom: 40px;
    position: absolute;
    padding: 1% 3% 2% 1%;
}

/******Formatação para impedir quebra de linha*******/

.QL {
    white-space: nowrap;
}

/******formatação da página de Contato******/

#contato {
    background: whitesmoke fixed;
    max-width: 800px;
    padding-bottom: 70px;
    margin-bottom: 30px;
    border: double 3px rgb(144, 181, 248);
    text-align: center;
    }

table {
    width: 96%;
    margin:2%;
    border-collapse:separate;
    
}
th,td {
    width: 33%;
    border:solid 1px blue;
}
th {
    text-transform: uppercase;
    border-top: 3px solid rgb(196, 211, 240);
    border-right: 3px double  rgb(196, 211, 240);
    border-left: 3px double rgb(144, 181, 248);
    border-bottom: 1px solid rgb(144, 181, 248);
}
table tr td:hover{
    width: 34%;
    font-size: 99%;
    color: rgba(0, 0, 0, 0.63);
    background-color: rgba(245, 245, 245, 0.767);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
table tr td:active{
    -webkit-user-select: all;
       -moz-user-select: all;
            user-select: all;}

table tr td a:hover{ 
    color: white;
    display:block;
    height: 100%;
    width: 100%;
}


.facebook:hover {
        font-family:  Helvetica, sans-serif;
        color: white;
        display:block;
        height:100%;
        width:100%;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
}
.instagram:hover {
    font-size: large;
    font-family: 'Billabong', sans-serif;                                       
    color: rgba(0, 0, 0, 0.9);
    background: #d6249f;
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.25);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    display:block;
    height:100%;
    width:100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
